{% extends "base.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>This page contains the information about the following</h1>
  <p>About bootstrap, Github, Docker, Heroku</p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Bootstrap</h3>
      <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. </p>
      <p>It contains HTML, CSS and JavaScript-based design templates for typography, forms, buttons, navigation, and other interface components.</p>
    </div>
    <div class="col-sm-4">
      <h3>Github</h3>
      <p>GitHub, Inc. is a provider of Internet hosting for software development and version control using Git.</p>
      <p>It offers the distributed version control and source code management functionality of Git, plus its own features.</p>
    </div>
    <div class="col-sm-4">
      <h3>Docker</h3>
      <p>Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers. The service has both free and premium tiers.</p>
      <p>The software that hosts the containers is called Docker Engine. It was first started in 2013 and is developed by Docker, Inc.</p>
    </div>
      </div>
    <div class="col-sm-4">
      <h3>Heroku</h3>
      <p>One of the first cloud platforms, Heroku has been in development since June 2007, when it supported only the Ruby programming language, but now supports Java, Node.js, Scala, Clojure, Python, PHP, and Go.</p>
      <p>Heroku is a cloud platform as a service supporting several programming languages. </p>
    </div>
  </div>
</div>

</body>
</html>

{% endblock %}