{% extends "base.html" %}
{% block content %}
    <title>Index Page</title>
    <head><h1>Degala Sai Charan</h1></head>
    <p>
        Hi, this is my website that demonstrates how to start up and mainly understand how web applications are built.
        <br>
        I cover all topics like oops, abstraction, inheritance, continuous integration and deployment, testing etc.
    </p>
    <p>
        I'm pursuing my Masters Computer Science and this is a project is a tutorial for new beginners.
    </p>

    <a href="https://github.com/Charansd84/IS601_Project2">Github</a>



    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page1") }}">
                    <img src="{{ url_for('static', filename='app/static/images/AAA.png') }}" class="d-block w-100" alt="..."
                         height="500px" width="100px">
                </a>
            </div>
            <div class="carousel-item">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page2") }}">
                    <img src="{{ url_for('static', filename='app/static/images/designprinciples.png') }}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page3") }}">
                    <img src="{{ url_for('static', filename='app/static/images/oops.png') }}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page4") }}">
                    <img src="{{ url_for('static', filename='app/static/images/encapsu.png') }}" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

{% endblock %}